security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      custom_authenticators:
        - App\Security\LoginFormAuthenticator
      login_link:
        check_route: app_login_check
        login_path: app_login
        signature_properties: [id, email, updatedAt]
        max_uses: 1
        lifetime: 600
      logout:
        path: app_logout
        target: home

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/verify/email, roles: PUBLIC_ACCESS }
    - { path: ^/admin/login, roles: PUBLIC_ACCESS }
    - { path: ^/admin, roles: ROLE_ADMIN }
    - { path: ^/compte, roles: ROLE_USER }
    - { path: ^/(dashboard|historique|saisie), roles: ROLE_USER }
    - { path: ^/, roles: PUBLIC_ACCESS }
