<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}App{% endblock %}</title>
  </head>
  <body style="margin:0;background:#f3f4f6;color:#0f172a;">
    {% block body %}{% endblock %}
  </body>
</html>
