{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration' %}

{% block main %}
  <div class="content-panel">
    <h2>Administration EasyAdmin</h2>
    <p>Utilisez le menu de gauche pour gérer les données.</p>
  </div>
{% endblock %}
