<h2>Connexion sécurisée</h2>
<p>Bonjour,</p>
<p>Utilisez ce lien unique pour vous connecter à votre espace copropriétaire:</p>
<p><a href="{{ magicUrl }}">Se connecter</a></p>
<p>Ce lien expire le {{ expiresAt|date('d/m/Y à H:i') }}.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>
